#payment-modal button:first-child {
    background-color: #00b286;
}

#payment-modal .modal-header {
    background-color: black;
    border-color: black;
    color: white;
}

/*#payment-modal label {*/
/*display: block;*/
/*}*/
